:root {
  --color-black: #000000;
  --color-blue: #0033ff;
  --color-green: #33ff00;
  --color-grey: #666666;
  --color-purple: #cc00ff;
  --color-red: #ff0033;
  --color-yellow: #ffff00;
  --color-white: #ffffff;
  --spacing: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--color-black) url('$lib/assets/space.jpg');
  color: var(--color-white);
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard',
    'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', cursive,
    sans-serif;
  font-size: var(--spacing);
  margin: 0;
  padding: var(--spacing);
}

a,
a:active,
a:visited {
  color: var(--color-yellow);
}

a:focus,
a:hover {
  color: var(--color-purple);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.ender {
  padding-top: calc(var(--spacing) * 2);
}
